[submodule "GG"]
	path = GG
	url = git@bitbucket.org:guldgames/ledger-gg.git
	shallow = true
	fetchRecurseSubmodules = false
[submodule "GULD"]
	path = GULD
	url = git@bitbucket.org:guld/ledger-guld.git
	shallow = true
	fetchRecurseSubmodules = false
[submodule "prices"]
	path = prices
	url = git@bitbucket.org:guld/token-prices.git
	shallow = true
	fetchRecurseSubmodules = false
[submodule "isysd"]
	path = isysd
	url = git@bitbucket.org:isysd/ledger-isysd.git
[submodule "cz"]
	path = cz
	url = git@bitbucket.org:isysd/ledger-cz.git
[submodule "gigi"]
	path = gigi
	url = git@bitbucket.org:isysd/ledger-gigi.git
[submodule "lily"]
	path = lily
	url = git@bitbucket.org:isysd/ledger-lily.git
[submodule "mizim"]
	path = mizim
	url = git@bitbucket.org:mizim/ledger-mizim.git
[submodule "zimmi"]
	path = zimmi
	url = git@bitbucket.org:zimmiglobal/ledger-zimmi.git
[submodule "BTC"]
	path = BTC
	url = https://github.com/tigoctm/ledger-btc
[submodule "DASH"]
	path = DASH
	url = https://github.com/tigoctm/ledger-dash
[submodule "XCM"]
	path = XCM
	url = git@bitbucket.org:tigoctm/ledger-xcm.git
